.disconnected-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 24px;
    margin-top: 0px;
    font-size: 22px;
    font-weight: bold;
    color:#808080;
    height: 500px;
    width: 100%;

}

.disconnected-container img{
    height: 96px;
    width: 96px;
}