@media (max-width: 690px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    padding-right: 10px; 
    padding-left: 10px; 
  }
}
.flex-container {
  display: flex;
  width: 100%;
  margin-top: 28px;
}
.avatar-column{
  flex: 35%;    
  display: flex;  
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}
.repositories-column{
  flex: 65%;
  background:#F9F9F9;
  display: flex;
  flex-direction:column;
  padding-left: 25px;
  padding-right: 50px;
}

.fade{
  /* transition: 0.3s transform; */
  border: 5px solid #F90099 ;
}

.fade-enter {
  opacity: 0;
  /* visibility: visible; */
  /* transform: scale(1.1); */
}
.fade-enter-active {
  opacity: 1;
  /* visibility: visible;  */
  /* transform: scale(1); */  
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
  visibility: hidden;
  /* transform: scale(1); */
}
.fade-exit-active {
  opacity: 0;
  /* transform: scale(0.9); */
  visibility: hidden;
 
  transition: opacity 500ms ease-in;
}